{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">Lista de Tarefas</h1>
  </div>
</div>
{{end}}

<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>Tarefa</th>
            <th>Status</th>
            <th>Editar/Detalhes</th>
          </tr>
        </thead>
        <tbody>
          {{for tarefa in tarefas:}}
          <tr>
            <th>{{=tarefa.titulo}}</th>
            <th>
              {{if tarefa.status == False:}}
              <p class="text-danger">Em aberto</p>
              {{else:}}
              <p class="text-success">Finalizada</p>
              {{pass}}
            </th>
            <th><a href="{{=URL('default', 'crud_tarefa', args=tarefa.id)}}" class="btn-sm btn-info">Editar</a></th>
          </tr>
          {{pass}}
        </tbody>
      </table>
    </div>
  </div>
</div>





